    </div>
    <footer role="contentinfo" class="slds-m-around--medium">
      <div class="slds-grid slds-grid--align-spread">
        <p class="slds-col">PocketChat - Connect and Share With Local Trainers.</p>
        <p class="slds-col">&copy; 2016 Craig Ceremuga</p>
      </div>
    </footer>
  </body>
</html>