    </div>
    <footer role="contentinfo" class="slds-m-around--medium">
      <div class="slds-grid slds-grid--align-spread">
        <p class="slds-col">PocketChat - Connect and Share With Local Trainers.</p>
        <p class="slds-col">&copy; 2016 Craig Ceremuga</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/proprietary/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuV23IN0HHM1j_jcfp6XNmIvTnuGXVtd8&callback=initMap" async defer></script>
  </body>
</html>