<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  	<div id="m-spinner" class="slds-spinner_container slds-hide">
  	  <div class="slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
  	    <div class="slds-spinner__dot-a"></div>
  	    <div class="slds-spinner__dot-b"></div>
  	  </div>
  	</div>
	  <div class="slds-page-header" role="banner">
		  <div class="slds-media slds-media--center">
			  <div class="slds-media__figure">
				  <svg aria-hidden="true" class="slds-icon slds-icon-standard-feedback">
				  <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#feedback"></use>
			  </svg>
		  </div>
		  <div class="slds-media__body">
			  <p class="slds-page-header__title slds-truncate slds-align-middle">PocketChat</p>
			  <p class="slds-text-body--small page-header__info">Connect and Share With Local Trainers.</p>
		  </div>
		  </div>
	  </div>
	  <div role="contentinfo" class="slds-m-around--medium">